@font-face {
	font-family: 'Glaciar Regular';
	src: url(../fuentes/GlacialIndifference-Regular.otf);
}
  
@font-face {
  font-family: 'Glaciar Bold';
  src: url(../fuentes/GlacialIndifference-Bold.otf);
}

@media (min-width:1024px){
	.intro{
		background-image:url('../img/Fondo-azul.gif');
	}
	.cambio{
		background-image: url('../img/Fondo-verde.gif')
	}
	.correcto{
		background-image: url('../img/Correcto.gif');
	}
	.incorrecto{
		background-image: url('../img/INCorrecto.gif');
	}
	.back-blue{
		background-image:url('../img/Fondo-azul-INFO.gif');
	}
	.back-green{
		background-image:url('../img/Fondo-verde-INFO.gif');
	}
	.ultimaR{
		background-image:url('../img/ultimaR.gif');
	}
	.resultado{
		background-image:url('../img/resultado.gif');
	}
}

@media (max-width:1024px){
	#pregunta {
		font-size: 2rem !important;
	}
	.opcion {
		font-size: 1.5rem !important;
	}
	.intro{
		background-image:url('../img-responsive/Fondo-azul-movil.gif');
	}
	.cambio{
		background-image: url('../img-responsive/Fondo-verde-movil.gif')
	}
	.correcto{
		background-image: url('../img-responsive/Correcto-movil.gif');
	}
	.incorrecto{
		background-image: url('../img-responsive/INCorrecto-movil.gif');
	}
	.back-blue{
		background-image:url('../img-responsive/INFO-azul-movil.gif');
	}
	.back-green{
		background-image:url('../img-responsive/INFO-verde-movil.gif');
	}
	.ultimaR{
		background-image:url('../img-responsive/ultimaR-movil.gif');
	}
	.resultado{
		background-image:url('../img-responsive/resultado-movil.gif');
	}
	span.text {
		max-width: 400px !important;
		font-size: 1.5rem !important;
	}
	.azul, .verde {
		padding: 30px 5px 10px 40px !important;
	}
	#encabezado {
		max-width: 90vw !important;
	}
	.translate {
		transform: translateY(-110px);
	}
}

body {
  margin: 0;
  padding: 0;
  background-color: #0094df;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 120%;
}

#tablero-de-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100vh;
}

#encabezado {
  max-width: 80vw;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#pregunta{
  color: white;
  font-family: 'Glaciar Bold';
  font-size: 3rem;
}
.opcion {
  text-align: start;
  min-width: 300px;
  width: 80vw;
  font-family: 'Glaciar Regular';
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.opcion i.fa-solid.fa-circle {
  color: aquamarine;
}

.conoce-resultado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
span#resultado-boton {
  color: white;
  font-size: 2rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

#loader div img {
	width: 100%;
	height: auto;
}

#loader {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
	z-index: 999;
}

#loader div {
	border: 20px solid transparent;
	height: auto;
	width: auto;
	border-radius: 50%;
	animation: spin1 3s linear infinite;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}
.container h1 {
	font-size: 3rem;
}

#loader div img {
    animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

button {
	display: inherit;
	padding: 2% 5%;
	border: none;
	background-color: blue;
	color: white;
	border-radius: 50px;
	font-size: 3rem;
	font-family: 'Glaciar Bold';
  }

.text-container button {
    position: inherit;
    padding: 1% 3%;
    font-size: 1.5rem;
}
span.text {
    max-width: 700px;
    color: white;
    font-size: 2.2rem;
    font-family: 'Glaciar Regular';
    text-align: start;
}
.container-text{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100vh;
}
.z-index {
    z-index: 1000;
}
#loader button {
	display: inherit;
	position: absolute;
	margin: auto;
	animation: fadein 1s linear forwards;
	animation-delay: 3.5s;
	opacity: 0;
	padding: 2% 5%;
	border: none;
	background-color: blue;
	color: white;
	border-radius: 50px;
	font-size: 3rem;
	font-family: 'Glaciar Bold';
  }  
  @keyframes fadein {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

  /* Pregunta Uno */
  .absolute{
	position: absolute;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100vh;
	overflow: hidden;
}
/* .animated { 
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-animation-duration: 1s;
		animation-duration: 1s; 
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both; 
	 }
	 
	 @-webkit-keyframes bounceIn {
		0% {
		   opacity: 0;
		   -webkit-transform: scale(1.03);
		}
		50% {
		   opacity: 1;
		   -webkit-transform: scale(1.05);
		}
		70% {
		   -webkit-transform: scale(.9);
		}
		100% {
		   -webkit-transform: scale(1);
		}
	 }
	 
	 @keyframes bounceIn {
		0% {
		   opacity: 0;
		   transform: scale(.3);
		}
		50% {
		   opacity: 1; 
		   transform: scale(1.05);
		}
		70% {
		   transform: scale(.9);
		}
		100% {
		   transform: scale(1);
		}
	 }
	 
	 .bounceIn {
		-webkit-animation-name: bounceIn; 
		animation-name: bounceIn;
	 } */

	 .verde {
		background: #124e2b;
		padding: 2% 3%;
		border-radius: 20px;
		z-index: 2;
	}

	.verde:before {
		background: #47ba75;
		top: 0;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		border-radius: 20px;
		transform: translate(20px, 20px);
	}

	.azul {
		background: #014f67;
		padding: 2% 3%;
		border-radius: 20px;
		z-index: 2;
	}

	.azul:before {
		background: #61c8e1;
		top: 0;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		border-radius: 20px;
		transform: translate(20px, 20px);
	}